# Mandatory library used in all odoo-openupgrade-wizard
# Note: As the openupgradelib is not allways up to date in pypi,
# we use the github master url.
git+https://github.com/OCA/openupgradelib@master#egg=openupgradelib

# Library used to run generate-module-analysis command
# dependencies of the module OCA/server-tools 'upgrade_analysis'
odoorpc
mako
pyjwt
# From addons/trobz-addons/requirements.txt
safe-logger==1.6.0
# From addons/oca-reporting-engine/requirements.txt
#py3o.formats
#altair
#py3o.template
# From addons/oca-community-data-files/requirements.txt
pycountry
# From addons/oca-partner-contact/requirements.txt
email_validator
# From addons/oca-server-tools/requirements.txt
pygount
xlrd
pysftp
xlwt
openpyxl
raven
# From addons/oca-stock-logistics-barcode/requirements.txt
python-barcode
# From addons/oca-server-auth/requirements.txt
#python-u2flib-server
#zxcvbn
#lasso
#pyotp
# From addons/oca-server-ux/requirements.txt
pdf2image
pyzbar
# From addons/oca-event/requirements.txt
oca.decorators
# From addons/oca-social/requirements.txt
premailer
extract-msg
# From addons/oca-account-financial-tools/requirements.txt
#numpy
# From addons/trobz-addons/odoo_toolkit/requirements.txt
lorem
# From addons/oca-connector/requirements.txt
cachetools>=2.0.1
# From addons/oca-web/requirements.txt
mpld3==0.3
#bokeh==1.1.0
#matplotlib>=2.0.0
#plotly==4.1.0
# From addons/foodcoop-addons/requirements.txt
py3dns==3.2.1
validate-email==1.3
cryptography==2.6.1
pyopenssl==19.0.0
acme
astor
dataclasses
dnspython
josepy
mako
odoo_test_helper
odoorpc
openpyxl
openupgradelib
pygount==1.4.0
pysftp
sentry_sdk<=1.9.0
unidecode
unittest-xml-reporting

# From edi repo
factur-x
pypdf

# generated from l10n-france
pyfrdas2>=0.4
python-stdnum
python-stdnum>=1.18
requests_oauthlib
unidecode
phonenumbers

pycups